.buttonsContainer {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.responseContainer {
}

.imageContainer {
  margin-top: 20px;
}

.image {
}

.textContainer {
}

.code {
}

.text {
}
.info {
}
