.input:focus {
}

.input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid black;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
  border: 2px solid red;
}

.errorInput:focus {
  border: 2px solid red;
}

.error {
  color: red;
}
